@model IEnumerable<TesteFe.Models.CartaoPessoaFisica>
@{
    ViewData["Title"] = "Cartão Pessoa Fisica";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">Criar Novo Cartão</a>
</p>


@using (Html.BeginForm("PesquisarNome", "CartaoPessoaFisica", FormMethod.Get))
{
    <div>
        <label>Nome</label>
        @Html.TextBox("nome")
        <span>  <input type="submit" value="Pequisar Nome" class=" btn bg-primary" /> </span>
    </div>
       

}

@using (Html.BeginForm("PesquisarCpf", "CartaoPessoaFisica", FormMethod.Get))
{
    <div>
        <label>CPF</label>
        @Html.TextBox("cpf")
        <span>  <input type="submit" value="Pequisar CPF" class=" btn bg-primary" /> </span>
    </div>
        
    
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RG)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Lougradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RG)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco.Lougradouro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CartaoID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CartaoID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.CartaoID">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
