@model IEnumerable<TesteFe.Models.CartaoPessoaJuridica>
@{
    ViewData["Title"] = "Cartão Pessoa Juridica";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">Criar Novo Cartão</a>
</p>

@using (Html.BeginForm("PesquisarNome", "CartaoPessoaJuridica", FormMethod.Get))
{
    <div>
        <label>Nome</label>
        @Html.TextBox("Razao")
        <span>  <input type="submit" value="Pequisar Razão" class=" btn bg-primary" /> </span>
    </div>


}

@using (Html.BeginForm("PesquisarCnpj", "CartaoPessoaJuridica", FormMethod.Get))
{
    <div>
        <label>CPF</label>
        @Html.TextBox("CNPJ")
        <span>  <input type="submit" value="Pequisar CNPJ" class=" btn bg-primary" /> </span>
    </div>


}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Lougradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Endereco.Lougradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartaoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CartaoID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CartaoID">Apagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
